body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}


@keyframes blinkRed {

    0%,
    50%,
    100% {
        outline: 3px solid #ed2a2a;
    }

    25%,
    75% {
        outline: 3px solid #c3c4c7;
    }
}

@keyframes blinkGreen {

    0%,
    50%,
    100% {
        outline: 3px solid #31b92e;
    }

    25%,
    75% {
        outline: 3px solid #c3c4c7;
    }
}

.blink-red {
    animation: blinkRed 1.5s ease-in-out 3;
}

.blink-green {
    animation: blinkGreen 1.5s ease-in-out 3;
}

.box-odd {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    outline: 1px solid #c3c4c7;
    border-radius: 8px;
    margin: 10px;
    min-height: 50px;
    width: 150px;
}